.board {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 2px;
    border: 1px solid var(--tie);
    box-sizing: border-box;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
}

.board::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 15px var(--shadow);
    opacity: 0;
    transition: opacity .4s;
}

.board--playable {
    background: var(--bkg);
    animation: expand .4s var(--overshoot);
    transition: opacity .4s var(--overshoot);
}

.board--playable::before {
    opacity: 1;
}

.board--unplayable {
    opacity: .5;
    width: 88%;
    height: 88%;
    animation: contract .4s ease;
    transition: opacity .4s ease;
}

.board--p1,
.board--p2,
.board--tie {
    border-width: 3vmin;
    animation-name: contract, capture;
    animation-duration: .4s;
    animation-timing-function: ease;
}

.board--p1 {
    border-color: var(--p1);
}

.board--p2 {
    border-color: var(--p2);
}

.board--tie {
    border-color: var(--tie);
}

@keyframes expand {
    from {width: 100%; height: 100%; transform: scale(.88)}
    to {width: 100%; height: 100%; transform: scale(1)}
}

@keyframes contract {
    from {width: 100%; height: 100%; transform: scale(1)}
    to {width: 100%; height: 100%; transform: scale(.88)}
}

@keyframes capture {
    from {border-width: 1px}
    to {border-width: 3vmin}
}